%div.entry
  %h3#meeting_dec_26_2012 December 26th, 2012
    %p This meeting was a practical one, focusing on testing. We began with a talk on testing, explaining what tests are, what needs testing, and how to get started with it. We then split up and hack away on tests.

%div.entry
  %h3#meeting_nov_28_2012 November 28th, 2012
    %dl
      %dt
        %strong Binding Shared Libraries with Perl :: Ido Kanner
      %dd
        Overview of what shared libraries are, and how to bind their functions to Perl.
      %dt
        %strong Real Time Web with Pocket::IO :: Ynon Perek
      %dd
        The Internet is changing direction. More and more web-sites want to notify their visitors in real
        time about changes that happen on the server (for instance, a different visitor uploaded a photo).
        A library called Socket IO unifies all the various ways to send messages from the server to the
        computers of the visitors and allows the programmer to write an Internet application that gets updated
        in real time. vti implemented the library in Perl as Pocket::IO.
        In this talk, I will present the ideas behind Real Time Web, including code excerpts in Perl which
        use the library in order to create interactive sites.
      %dt
        %strong Regular Expressions Demystified :: Sawyer X
      %dd
        Do you use Regular Expressions? No? Would you like to? Do you find them complicated or confusing?
        Let's try to fix that. A beginner's talk for introducing simple, smart, easy-to-understand Regular
        Expressions.

%div.entry
  %h3#meeting_oct_31_2012 October 31st, 2012
    %dl
      %dt
        %strong Writing Automatic Test Using Selenium :: Pavel Zhytomirsky
      %dd
        Slides and code examples
        %a( href => "https://github.com/R3VoLuT1OneR/Selenium-Perl-Tutorial") on github.
      %dt
        %strong MongoDB :: Meir Kriheli
      %dd
        The slides are
        %a( href => "http://meirkriheli.com/en/talks/#mongodb" ) available here.
      %dt
        %strong Linux Perl Daemons :: Uri Hartmann

%div.entry
  %h3#meeting_sep_19_2012 September 19th, 2012
    %dl
      %dt
        %strong Meta-Moose :: Ynon Perek
      %dd
        Using the meta object, dynamically add methods, play with attributes, and more. The slides are
        %a( href => "http://www.slideshare.net/YnonPerek/metamoose-14339965" ) available here
      %dt
        %strong Project Euler :: Shlomi Fish
      %dt
        %strong Introducing the mail-stats program :: Moshe Nahmias

%div.entry
  %h3#meeting_aug_29_2012 August 29th, 2012
    %dl
      %dt
        %strong Practical Perl - Earn your living or how make money from parsing a string :: Sawyer X
      %dt
        %strong If Music be the Food of Love, try playing it with Perl :: Uri Bruck
      %dd
        MIDI, Musical Instrument Digital Interface, is a standard that enables
        computers, musical instruments and other devices to communicate with each
        other.  It's not surprising that there's something on cpan for that. We'll
        look into various aspects of handling MIDI with Perl, and maybe get
        to listen to something nice too.
      %dt
        %strong Report from YAPC::EU 2012 :: Gabor Szabo, Sawyer X
      %dd
        A lot of weird, geek, strange, funny an awesome stories from the biggest
        Perl event in Europe.

%div.entry
  %h3#meeting_jul_25_2012 July 25th, 2012
    %dl
      %dt
        %strong FatPacker :: Sawyer X
      %dt
        %strong Packaging for CPAN :: Sawyer X
      %dt
        %strong Modern Web application development using Perl :: Gabor Szabo

%div.entry
  %h3#meeting_jun_27_2012 June 27th, 2012
    %p
      Instead of the usual technical meeting, we will have a hackathon!
    %p
      We could work on contributing to projects, fixing or adding features to
      existing projects, starting new projects, trying out different stuff we
      haven't yet, and learn new stuff!
    %p
      Here are some ideas for what to do at the hackathon:
    %ul
      %li rewriting a CGI app in Dancer, or add features to an existing web app
      %li rewriting an application using Moose
      %li contributing to a CPAN module (bugs/features/documentation/tests)
      %li adding a feature to a CPAN module
      %li writing a new CPAN module
      %li working on TelAviv.pm.org and automating the tools to update it

%div.entry
  %h3#meeting_may_30_2012 May 30th, 2012
    %dl
      %dt
        %strong From client to execution :: ik
      %dd
        This talk will explain what Redis is in a few words, the client Ido has
        written for it, and which Perl tools are available to use it.
      %dt
        %strong Perl for Newbies, Part 5 :: Shlomi Fish
      %dd
          Shlomi will use the audience as guinea pigs for testing and verifying the
          fifth part of his series of talks, Perl for Perl Newbies, whose theme is
          "good programming practices". The slides cover such topics as writing
          automated tests, using version control systems, using class accessors,
          writing documentation using POD, and using Module-Build and Module-Starter.
        %br/
        %br/
          Shlomi's slides are
        %a( href => "http://www.shlomifish.org/lecture/Perl/Newbies/" ) available here

%div.entry
  %h3#meeting_may_2_2012 May 2nd, 2012
    %p
      We are going to have two talks about the two extremes of Perl.
      After the talks we are going to have a mini-hackathon working on
      a few CPAN modules.
    %dl
      %dt
        %strong Perl Golf :: Ynon Perek
      %dd The abstract of the Golf talk was golfed away.
      %dt
        %strong Refactoring Perl code :: Gabor Szabo
      %dd For the abstract of the Refactoring talk, please visit http://perl.org.il/.
      %dt
        %strong Hackathon
      %dd
        The code that we are planning to hack on can be found
        %a( href => "https://github.com/szabgab" ) here
        and
        %a( href => "https://github.com/xsawyerx" ) here
        \.
        %br/
        %br/
          You can also bring your own problems :)

%div.entry
  %h3#meeting_mar_28_2012 March 28th, 2012
    %dl
      %dt
        %strong Sphinx - Documentation in action :: Meir Kriheli
      %dd
        Sphinx is a documentation generator.
        Covering reStructuredText and writing documentation, the Python domain
        and a bit of Perl.  The slides are
        %a( href => "http://meirkriheli.com/en/talks/#sphinx" ) available here.
      %dt
        %strong How to contribute to a CPAN module :: Gabor Szabo
      %dd Topics covered:
        %ul
          %li Check the bug tracking system
          %li Find and check-out the source code
          %li Write a test
          %li Create a fix
          %li Send a patch
      %dt
        %strong Hackathon
      %dd
          Then we form groups of 2-3 people and fix bugs in CPAN modules. We can
          do this in Spaghettim already.  For this, please bring your notebook or
          arrange with someone else to share one. Also, please recommend modules that
          need their RT queue cleaned up!
        %br/
        %br/
          Some ideas: XML::Feed, SVG, Dancer, MetaCPAN::API, Module::Starter,
          WWW::FMyLife, Perlbal, Module::Version, App::Genpass.

%div.entry
  %h3#meeting_dec_28_2011 December 28th, 2011
    %dl
      %dt
        %strong Visualizing the brain of Vim :: Ran Eilam
      %dd
        You loved him in "Game frameworks with SDL, Moose and Coro", you cried over
        his performance in the after-meeting get-togethers, and you will absolutely
        adore him in "Visualizing the brain of Vim". All-star legend Ran Eilam will
        talk to us (both beginners and experts) about Vim and how to fathom this
        incredible beast. I warn you, the first two lines in the audience will be
        damaged by Emacs flames.
      %dt
        %strong A bunch of modules which made sense writing :: Sawyer X
      %dd
        I'm going to cover some utility modules I've written, why they were written
        and when they are useful. At the end, you'll have to judge whether they were
        worth writing at all. There will be voting booths available! (We'll cover
        Algorithm::Diff::Callback, App::Genpass, Data::PowerSet::Hash and
        Module::Version.)
      %dt
        %strong To upgrade or not to upgrade, Perl 5.6 vs. Perl 5.14 :: ik vs. Sawyer X
      %dd
        A source of great concern in the Perl users community is whether to use an
        up-to-date Perl and what version should be considered "too old". On one hand,
        we have the management that wants as little cost and changes as possible
        (sometimes along with systems administrators), and on the other hand, the
        developer who wants to use the latest technologies, and is often stuck on
        obsolete systems. In light of this serious consideration, we're going to
        take turns poking at each other with a stick, wearing funny hats, damning the
        unbelievers and heretics until they submit to one side: 5.6 or 5.14!

%div.entry
  %h3#meeting_nov_30_2011 November 30th, 2011
    %dl
      %dt
        %strong Tools of the Perl, a quick survey of 4 modules :: Erez Schatz
      %dd
        We will cover four modules that make the life of a Modern Perl developer
        much easier than it used to be: local::lib, cpanm, perlbrew, pm-uninstall.
      %dt
        %strong DBIx::Class and ORMs :: Erez Schatz
      %dd
        What is an ORM, why do we need it, and what does DBIx::Class bring to the
        table for Perl programmers at large.
      %dt
        %strong Firebird: a database that does not burn your data :: ik
      %dd
        An introduction to the Firebird database and why it is so highly-regarded
        by those who use it.

%div.entry
  %h3#meeting_aug_31_2011 August 31st, 2011
    %dl
      %dt
        %strong Git :: Sawyer X
      %dd
        Git is a decentralized code revision management system. It's becoming a
        valuable tool for developers (whether programmers, designers, or other) and
        is spreading like fire due to its useful nature, being used in the Linux
        Kernel development, many free software libraries and programs and many
        organizations alike. I intend to teach it to you. :)
      %dt
        %strong Gitflow :: Sawyer X
      %dd
        Gitflow is a useful wrapper tool to allow you to set a more streamlined
        development process, taking into account features, releases, hot fixes and
        more. It's very useful when using multiple developers with an integrator, a
        QA, a dev team, and so on. I intend to showcase it as well!

%div.entry
  %h3#meeting_jul_27_2011 July 27th, 2011
    %dl
      %dt
        %strong How to write a module and package it as a CPAN (like) distribution :: Gabor Szabo
      %dd We are going to have one talk that will cover a number of topics including:
        %ul
          %li Writing a module
          %li OOP
          %li Testing
          %li Packaging

%div.entry
  %h3#meeting_jun_29_2011 June 29th, 2011
    %dl
      %dt
        %strong Scraping A Cookbook :: Ynon Perek
      %dd
          I recently got a chance to convert a live web site
          (http://www.anonymous.org.il) into an iPhone app. The process involved deciding
          which parts will go into the app, how it will look, and scraping the content to
          an SQLite db that was to be deployed on the iPhone (along with an app).
        %br/
        %br/
          In the talk, I will present some of the perls I used to get/convert the textual
          and image data, and use them to talk about XPath, DOM and SAX for digging the
          "right" data.
      %dt
        %strong #myjourneytoperl - graphing a meme :: Dotan Dimet
      %dd
        On March 30th, at the urging of Matt Trout, Perl people on Twitter posted text
        graphs showing their path to Perl from and through other programming languages.
        Inspired by the directed graph format used, I decided to capture these posts
        and combine them into a single giant graph which I would render using the
        GraphViz toolkit. I'll talk about the tools I used (Mojolicious, GraphViz, the
        witter JSON API), the problems I encountered (Unicode!) and the snapshot of the
        Perl community that emerged.
      %dt
        %strong Writing a blog engine in 15 minutes :: Gabor Szabo
      %dd
        It will be especially easy for people who are using Windows as they can
        download a single package that have everything they need. We will create a
        Dancer based web application and then allow a single user to create blog posts.

%div.entry
  %h3#meeting_may_25_2011 May 25th, 2011
    %dl
      %dt
        %strong ABC Path solver, live demo :: Shlomi Fish
      %dd A short talk of Shlomi's ABC Path Solver, including a demo.
      %dt
        %strong Unicode considerations in Perl :: Meir Guttman
      %dd Meir will help us understand how to work with Unicode better
      %dt
        %strong Moose!! :: Sawyer X
      %dd
        If you don't use Moose, come see why you should! If you do, come help convince
        others!

%div.entry
  %h3#meeting_mar_30_2011 March 30th, 2011
    %dl
      %dt
        %strong Typography WTF? or "Correct understanding and usage" :: Miss Ferret
      %dd
        It's time to bring some color into your life. We'll explain what typography is
        and why the font we choose matters.
      %dt
        %strong Graphical game development in Perl using Coro :: Ran Eilam
      %dd
        You like games? Want to write one? Ran will show us his pet project, a game
        written in Perl using SDL and co-routines (via the Coro module).
      %dt
        %strong [Lightning talk] Ruby for Perl programmers :: Ido Kanner
      %dt
        %strong [Lightning talk] Analytical Perl, "use" vs. "require" :: Sawyer X

%div.entry
  %h3#meeting_feb_23_2011 February 23rd, 2011
    %dl
      %dt
        %strong Getting involved in open source :: Gabor Szabo
      %dd
        You might know how to program, you might not, but do you work on open source projects?
        Have you always wanted to? Now you'll learn how to do it!
        We'll be taking a real example of an active open source project.
      %dt
        %strong [Lightning talk] There are TOO MANY ways to do it! :: Shlomi Fish
      %dd (simple problem, a ton of solutions)
      %dt
        %strong [Lightning talk] Surprise talk :: an anonymous speaker
      %dd (this talk will be so fast, you won't see it coming!)
      %dt
        %strong Our local state, my my :: Sawyer X
      %dd
        Perl has several ways to define variables (my, local, our, state), and they can get confusing.
        The final showdown will explain how each works, what they really do, and when to use them.
      %br/
      %br/
        Yes! Finally!! :)

%div.entry
  %h3#meeting_jan_26_2011 January 26th, 2011
    This meeting's subject was web development.
    %dl
      %dt
        %strong What the hell is web development? :: Sawyer X
      %dd
        A nice, easy, hopefully interesting, understandable introduction to web
        development. (beginner talk)
      %dt
        %strong The web stack :: Ilan Arad
      %dd
        A hands-on, discussion-oriented talk on advanced understanding of the web
        stack, from server-side to client-side. (advanced talk)

%div.entry
  %h3#meeting_dec_29_2010 December 29th, 2010
    %p
      This was our first TA.pm since it has been reestablished.
    %p
      %a( href => "images/flyers/tapm.png", target => "_blank" ) Flyer available here
    %dl
      %dt
        %strong Why Perl? :: Sawyer X
      %dd
        A short talk on what makes Perl such a compelling language to learn and work
        with, focusing on Modern Perl and innovative technologies.
      %dt
        %strong What's new in Perl 5.10 and 5.12 :: Gabor Szabo
      %dd Find out what exciting features new versions of Perl offer.
      %dt
        %strong Read only state for fun and profit :: Yuval Kogman
      %dd
        Even though Perl is highly optimized for modifying data in place, using read
        only state can be very rewarding. What is immutability and when it should be
        applied.
