<!-- start footer template -->
  <div class="footer">
    <div class="footer_resize">
        <p></p>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
<!-- end footer template -->