			<ul>
                <li[% page == 'index'    ? ' class="current_page_item"' : '' %]><a href="/">Homepage</a></li>
                <li[% page == 'photos'   ? ' class="current_page_item"' : '' %]><a href="photos.html">Photos</a></li>
                <li[% page == 'previous' ? ' class="current_page_item"' : '' %]><a href="previous.html">Previous Events</a></li>
                <li[% page == 'about'    ? ' class="current_page_item"' : '' %]><a href="about.html">About us</a></li>
                <li[% page == 'contact'  ? ' class="current_page_item"' : '' %]><a href="contact.html">Contact</a></li>
			</ul>
