			<ul>
                <li[% page == 'index'    ? ' class="current_page_item"' : '' %]><a href="#">Homepage</a></li>
                <li[% page == 'photos'   ? ' class="current_page_item"' : '' %]><a href="#">Photos</a></li>
                <li[% page == 'previous' ? ' class="current_page_item"' : '' %]><a href="#">Previous Events</a></li>
                <li[% page == 'about'    ? ' class="current_page_item"' : '' %]><a href="#">About us</a></li>
                <li[% page == 'contact'  ? ' class="current_page_item"' : '' %]><a href="#">Contact</a></li>
			</ul>
